extends layout

block content
  h1 Assignment Reports
  ul.list-group
    if reports
      each report, i in reports
        li.list-group-item
          a(href="/reports/assignmentreports/"+report._id)= 'Class '+report.class+' '+'Assignment is '+report.assignment
          if user
            if user.id == report.institution 
              if report.sentdate
                a.btn.btn-danger(href='/reports/deleteassignment/'+report._id) Delete
              else
                a.btn.btn-default(href='/reports/editassignment/'+report._id) Edit 
                a.btn.btn-danger(href='/reports/deleteassignment/'+report._id) Delete             
                a.btn.btn-default(href='/reports/sendassignment/'+report._id) Send Report
                
