extends layout

block content
  h1 #{title}
  form(method='POST', action='/reports/editcircular/'+report._id)
    #form-group
      label Matter:
      input.form-control(name='matter', type='text', value = report.matter)
    div.form-group
      label(for='date')  Date:
      input#testdate.form-control(type='date', name='date', value=report.date)
    
    #form-group
      label Circular Details:
      textarea.form-control(name='remarks')=report.remarks
    br
    input.btn.btn-primary(type='submit', value='Submit')
